<h1><%= @user.id %></h1>
<% if @current_user.role == "admin" %>
<%= simple_form_for @track, url: user_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
   
    <%= f.label :role %>
    <%= f.text_field :role %>
    <br />
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.input :avatar, as: :file %>
        
<%= f.submit "Save Changes" %>
<% end %>
<% else %>
<h4>You are not an admin and do not have access to this page.</h4>
<% end %>


