<h1>New Users</h1>

<%= simple_form_for(@user) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role %>
    <%= f.input :avatar, as: :file %>
    <%= f.button :submit %>
<% end %>