 <div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">QBWC - List Of Queries</h1>                  
			<% i=1 %>
			<% b = @qbwc.to_a %>
			<div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                    	<th>#</th>
                                        <th>Worker Name</th>
                                        <th>Worker Class</th>
                                        <th>Date Range</th>
                                        <th>Status</th>
                                        <th>Enabled?</th>
                                    </tr>
                                </thead>
								<tbody class="order-table">
                               	<% b.each_with_index do |qbwc, index| %>
                                <% worker_class = qbwc.worker_class.to_s %>
                                <% log_dates = Log.where(worker_name: qbwc.worker_class).where(status: "Completed").order(created_at: :desc).limit(1) %>
                                <% log_status = Log.where(worker_name: qbwc.worker_class).where(status: "Updates").order(created_at: :desc).limit(1) %>
                                	<tr>
                                        <td><%= index + 1 %>.</td>
										<td><%= qbwc.name %></td>
                                        <td><%= qbwc.worker_class %></td>
										<td>
                                            <% if !log_dates[0].nil? %>
                                            <%= log_dates[0].start_date.strftime("%m-%d-%Y") %> to <%= log_dates[0].end_date.strftime("%m-%d-%Y") %>
                                            <% end %>                                            
                                        </td>
                                        <td>
                                            <% if !log_status[0].nil? %>
                                                <%= log_status[0].log_msg %>
                                            <% end %>
                                        </td>
                                        <td>
											<%= form_tag '/users/qbwc_enabled', remote: true do %> 
								       			<%= check_box_tag qbwc.name, 'yes', qbwc.enabled?, class: 'checkbox-qbwc' %>
			       							<% end %>
			       						</td>
									</tr>
								<% end %>
                               	</tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>                               
        		</div>
    	    </div>
		</div>
	</div>
</div>