<div id="page-wrapper" style="min-height: 629px;">
        <div class="row">
        <div class="col-lg-12 col-xs-12">
        <h1 class="page-header">User Profile</h1>
        </div>
        </div>

        <div class="row">
        <div class="col-lg-6">
                      <div class="panel panel-default">
                      
                       <div class="panel-body">
                      <div class="col-lg-3">
                        <div class="round-image-150"><%= image_tag(current_user.avatar.url(:medium)) %></div>
                     <p style="text-align:center;padding-top: 5%;"><%= link_to raw('<i class="fa fa-user fa-fw"></i>Edit Info'), edit_user_registration_path %></p>
                 
                      </div>
                      <div class="col-lg-9" >
                          <div class="container" >
                            <h2><%= @user.name %></h2>
                            <p><b><%= @user.role %></b></p>
                          <div>
                            <p><span class="fa fa-phone fa-fw" style="width:50px;"></span><%= @user.phone %></p>
                            <p><span class="fa fa-envelope fa-fw" style="width:50px;"></span><%= @user.email %></p>
                          <div class="col-sm-5 col-xs-6 tital " >Join Date: <%= @user.created_at.strftime("%m-%d-%Y") %>
                          </div>
                      </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading" style="font-size:2em;">
            <i class="fa fa-bell fa-fw" style="color:#337ab7;"></i> Recent Notifications
            <div class="pull-right">
            </div>
          </div>
            
            <div class="panel-body">

          
              <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-dollar fa-fw"></i> Recent Order Notifications
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>PO#</th>
                    <th>Amount</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody class="order-sales-table">
                 <%= render :partial => 'notification_order_view' %>
                </tbody>  
              </table>
            </div>
          </div>
       
       <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-dollar fa-fw" style="color:#F00;"></i> Recent Credit Memo Notifications
              <div class="pull-right">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Invoice #</th>
                    <th>Amount</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody class="order-sales-table">
                 <%= render :partial => 'notification_creditmemo_view' %>
                </tbody>  
              </table>
            </div>
          </div>

           <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-users fa-fw"></i> Recent New Customer Notifications
              <div class="pull-right">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody class="order-sales-table">
                 <%= render :partial => 'notification_creditmemo_view' %>
                </tbody>  
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= link_to raw('<i class="fa fa-sign-out fa-fw"></i>Logout'), destroy_user_session_path, :method => :delete %>
</div>

			<br />
    	<br />

