 <div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
			<h1><%= @user.name %></h1>
<!--
<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
-->			
			ID# <%=@user.id %>
      Email:<%= @user.email %>
			<br />
    		<br />
  			<%= link_to "Sign Out", logout_path, method: :delete %>
  		</div>
  	</div>
</div>
