<h1><%= link_to @customer.name, edit_customer_path %></h1>
<%= @customer.address %> <br />
<%= @customer.address2 %> <br />
<%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
<p>
<%= @customer.listid %><br />
<%= @customer.edit_sq %>
</p>
