<div id="page-wrapper" style="min-height: 629px;">
     <div class="row">
        <div class="col-lg-8">
            <h1><%= link_to @customer.name, edit_customer_path %></h1>
            
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="invoice-large">
                                <%= number_to_currency(@total, :unit => "$",precision: 2) %>
                            </div>
                            <div>Total Sales</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="invoice-large">
                           <%=  @order_count %>
                            </div>
                            <div>Total Orders</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i>
                Shipping Information
            </div>
                    <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-muted small">
                            <%= @customer.email %> <br />
                            <%= @customer.address %> <br />
                            <%= @customer.address2 %> <br />
                            <% if @customer.city.present? %>
                                <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
                            <%end %>
                       </span>
                    </a>
                </div>
            </div>
          <!-- /.panel-body -->
        </div>
    </div>
    </div>

                    <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Order Table
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span id="type-of-orders">Sales Orders</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a class="append-sales-orders" href="#">Sales Orders</a>
                                    </li>
                                    <li><a class="append-invoices" href="#">Invoices</a>
                                    </li>
                                    <li><a class="append-credit-memos" href="#">Credit Memos</a>
                                    </li>
                                    <li><a class="append-sales-receipts" href="#">Sales Receipts</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Order #</th>
                                                <th>Type</th>
                                                <th>Date</th>
                                                <th>PO#</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody class="order-sales-table">
                                                <%= render :partial => 'customer_sales_orders' %>
                                        </tbody>   
                                        
                                        <tbody class="order-table">
                                            <%= render :partial => 'customer_invoice_orders' %>
                                        </tbody>                                            

                                        <tbody class="order-sales-receipts">
                                            <%= render :partial => 'customer_sales_receipts' %>
                                        </tbody>          

                                         <tbody class="order-credit-memos">
                                            <%= render :partial => 'customer_credit_memos' %>
                                        </tbody>                                             

                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
        $(function() {
      $(".order-table").hide();
      $(".order-sales-receipts").hide();
      $(".order-credit-memos").hide();
    
      $('.append-invoices').on('click', function(e) {
        e.preventDefault();
        $(".order-sales-table").hide();
        $(".order-sales-receipts").hide();
        $(".order-credit-memos").hide();       
        $(".order-table").show();
        $("#type-of-orders").text("Invoices");    
    });
    $('.append-sales-orders').on('click', function(e) {
        e.preventDefault();
        $(".order-sales-table").show();
        $(".order-credit-memos").hide(); 
        $(".order-table").hide();
        $(".order-sales-receipts").hide();
        $("#type-of-orders").text("Sales Orders");
    });
    $('.append-sales-receipts').on('click', function(e) {
        e.preventDefault();
        $(".order-sales-receipts").show();
        $(".order-credit-memos").hide();
        $(".order-sales-table").hide();              
        $(".order-table").hide();
        $("#type-of-orders").text("Sales Receipts");
    });
    $('.append-credit-memos').on('click', function(e) {
        e.preventDefault();
        $(".order-credit-memos").show();
        $(".order-sales-receipts").hide();
        $(".order-sales-table").hide();              
        $(".order-table").hide();
        $("#type-of-orders").text("Credit Memos");
    });    
});
    </script>    