<h2>updated at <%= Time.now %></h2>
<h1><%= link_to @customer.name, edit_customer_path %></h1>
<%= @customer.address %> <br />
<%= @customer.address2 %> <br />
<%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
<p>
<%= @customer.list_id %><br />
</p>
