<div id="test">
<h1><span id="name"><%= @cust.name %></span> </h1>
<span id="address"><%= @cust.ship_address %></span> <br />
<span id="address2"><%= @cust.ship_address2  %></span> <br />
<span id="address3"><%= @cust.ship_address3  %></span> <br />
<span id="address4"><%= @cust.ship_address4  %></span> <br />
<span id="city"><%= @cust.ship_city %></span>, <span id="state"><%= @cust.ship_state %></span> <span id="zip"><%= @cust.ship_zip if @cust.ship_zip %></span>
<p>
<%= @cust.listid %><br />
<%= @cust.edit_sq %>
</p>
</div>
<script>
$(function() {
var name = $('#name').val();
    var address = $('#address').text();
    var address2 = $('#address2').text();
    var address3 = $('#address3').text();
    var address4 = $('#address4').text();
    var address5 = $('#address5').text();   
    var city = $('#city').text();   
    var state = $('#state').text();   
    var zip = $('#zip').text();   
    
$('#order_c_ship1').val(address);
$('#order_c_ship2').val(address2);
$('#order_c_ship3').val(address3);
$('#order_c_ship4').val(address4);
$('#order_c_ship5').val(address5);
$('#order_c_shipcity').val(city);
$('#order_c_shipstate').val(state);
$('#order_c_shippostal').val(zip);
});
</script>