<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i> Chat
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="chat">
            <% @order.comments.each do |f| %>
                <li class="<%= cycle('left', 'right') -%> clearfix">
                    <span class="chat-img pull-<%= cycle('left', 'right') -%>">
                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Jack Sparrow</strong>
                            <small class="pull-<%= cycle('right', 'left') -%> text-muted">
                                <i class="fa fa-clock-o fa-fw"></i><%= f.created_at.strftime("%m-%d-%Y") %> hours ago
                            </small>
                        </div>
                        <p>
                           <%= f.body %> 
                        </p>
                    </div>
                </li> 
            <% end %>
        </ul>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send
                </button>
            </span>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>