<!-- I work as a single upload -->
<div class="row">
    <div class="col-lg-6">
        <%= simple_form_for @order, url: orders_path, :html => {multipart: true} do |f| %>
        <%= f.input :customer_id, collection: @customers, group_method: :name %>
        <%= f.input :c_date, :as => :hidden, :input_html => { :value => Time.now() }%>
        <%= f.input :c_deliver, label: "Delivery Date:", as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%m-%d-%Y')} %>
        <%= f.input :c_via, collection: ["UPS from Zing", "UPS from ART", "UPS from WDS", "FedEx from Zing", "FedEx from ART", "FedEx from WDS", "LTL from ART", "LTL from WDS", "Pickup at ART", "Pickup at WDS"], label: "Ship Via" %>
        <%= f.input :docs, as: :file, :html => { multipart: true } %>
        <%= f.input :c_memo, label: "Notes", class: "form-control", placeholder: "Special notes or additional info", :maxlength => 96 %>
    </div>
    <div class="col-lg-6">
        <div id="shipping-address"></div>
        <div id="shipping-address-dynamic"class="order-right">
            
            <div class="form-group">
                <label>Shipping Address</label>
                <%= f.input :c_name, label: false, class: "form-control", placeholder: "Name", :maxlength => 41 %>
                <%= f.input :c_ship1, label: false, class: "form-control", placeholder: "Address", :maxlength => 41 %>
                <%= f.input :c_ship2, label: false, class: "form-control", placeholder: "Address 2", :maxlength => 41 %>
                <%= f.input :c_ship3, label: false, class: "form-control", placeholder: "Additional Ship Field", :maxlength => 41 %>
                <%= f.input :c_shipcity, label: false, class: "form-control", placeholder: "City", :maxlength => 31 %>
                <%= f.input :c_shipstate, label: false, class: "form-control", placeholder: "State", :maxlength => 21 %>
                <%= f.input :c_shippostal, label: false, class: "form-control", placeholder: "Postal", :maxlength => 13 %>
            </div>

        </div>
    </div>
</div> 
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Order Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <%= f.fields_for :line_items, remote: true do |l_item, index| %>
                            <%= render :partial => "upp_lineitem", locals: {f: l_item, upp_lineitem_counter: index}, object: @items %>
                        <% end %>
                        <tr><td colspan="6"><%= link_to_add_fields "Add Row", f, :line_items %></td></tr>
                        </tbody>
                        
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>


<%= f.input :c_total, id: 'total-amount', label: "Total:" %>
<%= f.input :qb_process, :type => 'checkbox' %>
<%= f.button :submit %>
<% end %>

<!-- I don't work quite yet -->
<!-- ** Commented Out - for Multiple uploads
<%= form_for @order, url: orders_path, :html => { multipart: true } do |f| %>
<%= file_field_tag "docs[]", type: :file, multiple: true %>
<%= f.submit nil %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        orders_path %>
<% end %>

-->

<div id="jquery_enter"></div>
<script>
    $(function() { 
        $('.datepicker').datepicker();  
         
        // $('.link_to_add_fields').on('click', '.field-remove', function(e) {
        //     e.preventDefault();
        //    remove_fields(this);  
        // });

         $('.link_to_add_fields').on('click', function(e) {
            e.preventDefault();
            var association = $(this).data("association");
            var content = $(this).data("content");
            var link = $(this);
            add_fields(link, association, content);


         });

        $('.field_remove').on('click', function(e) {  
            e.preventDefault();
            remove_fields(this); 
        });

        $('.order_line_items_amount').change(function() {
                SumAmount();
            });
    });
                                        
    //$('#order_customer_id').change(function(event){
    //                    $.get(
      // '/customer_details',
      // {id: $(event.target).val()},
      // function(response) {
      // });
                // });        

function remove_fields (link) {
    $(link).prev("input[type=hidden]").value = "1";
    $(link).closest(".fields").hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).closest('tr').before(content.replace(regexp, new_id));
  $('.field_remove').on('click', function(e) {  
            e.preventDefault();
            remove_fields(this); 
        });
}

function SumAmount () {
    var fields = (-1 + $('.order_line_items_amount').length);
    var sum = 0;
    var amount = 0;
        while (fields > -1) {
                        
                    amount = $("#order_line_items_attributes_" +fields+"_amount").val();
            if (typeof amount === "undefined" || amount === "") {
                amount = 0 
                }
                else
                {
                    sum = parseFloat(sum) + parseFloat(amount);
                }
                fields = parseInt(fields-1);    
            }
        $('#order_c_total').val(sum);
    }
                    
    </script>