 <div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= link_to @order.customer.name, customer_path(@order.customer.id) %></h1>                  
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i>
                    Order Information
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">

<!-- I work as a single upload -->
<%= simple_form_for @order, :html => {multipart: true} do |f| %>
    <% comment do %>
        <% if @order.docs_file_name.nil?  %>
            No Files, Please Add One Below
            <%= f.input :docs, as: :file %>   
        <% else %>
            <%= @order.docs_file_name %>
            <%= f.check_box :remove_docs, :checked => false %> Remove 
        <% end %>    
        <% comment end %>
    <%= f.input :c_date, label: "Order Date:", as: :string, input_html: { class: "datepicker", value: @order.c_date.strftime('%m-%d-%Y')} %>
    <%= f.input :c_ship, label: "Ship Date:", as: :string, input_html: { class: "datepicker", value: @order.c_ship.strftime('%m-%d-%Y')} %>
    <%= f.input :c_via, collection: ["UPS from FMG", "UPS from WTB", "LTL from FMG", "LTL from WTB", "Pickup at FMG", "Pickup at WTB"], label: "Ship Via", :selected => @order.c_via %>

            </div>
        </div>
    </div>

        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i>
                    Shipping Information
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="text-muted small">
                                <%= @order.c_ship1 %><br />
                                <%= @order.c_ship2 %><br />
                                <%= raw(@order.c_ship3 + '<br />') if !@order.c_ship3.blank? %>
                                <%= raw(@order.c_ship4 + '<br />') if !@order.c_ship4.blank? %>
                                <%= raw(@order.c_ship5 + '<br />') if !@order.c_ship5.blank? %>
                                <%= @order.c_shipcity %>, <%= @order.c_shipstate %> <%= @order.c_shippostal %>
                           </span>
                        </a>
                        <a href="#" class="btn btn-default btn-block color-grey" >
                            Edit Ship
                        </a>
                        
                    </div>
                </div>
              <!-- /.panel-body -->
            </div>
        </div>


        <div id="shipping-address"></div>
        <div id="shipping-address-dynamic"class="order-right" style="display:none;">
            <u>Shipping Address</u><br />
            <span class="name"><%= f.input :c_ship1, label: false %><br /></span>
                <%= f.input :c_ship2, label: false%>
                 <%= f.input :c_ship3, label: false %>
                 <%= f.input :c_ship4, label: false %>
                 <%= f.input :c_ship5, label: false %>
                <%= f.input :c_shipcity, label: false %>
                <%= f.input :c_shipstate, label: false %> 
                <%= f.input :c_shippostal, label: false %>
        </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Order Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

        <%= f.simple_fields_for :line_items do |line_item| %>
            <tr>
                <td><%= line_item.input :item_id, collection: @items, group_method: :name, value_method: :id %></td>
                <td><%= line_item.input :qty, as: :integer %></td>
                <td><%= line_item.input :site_id, collection: @sites, group_method: :name, value_method: :id %></td>
                <td><%= line_item.input :amount, as: :float %></td>
                <td><%= f.hidden_field :_destroy %></td>
                <td><%= button_to "remove", "#", class: "btn btn-danger field_remove" %></td>
        <% end %>
            </tr>
            <tr><td colspan="6"><%= link_to_add_fields "Add Row", f, :line_items %></td></tr>
                </table>
            </tbody>
<%= f.input :c_total, id: 'total-amount', label: "Total:" %>
<%= f.input :c_memo, as: :text, label: "Order Exceptions", id: 'exception-memo' %>
<%= f.input :c_ack, as: :hidden, id: "exception-ack" %>
<%= f.button :submit, style: 'display:none;', id: 'submit-form-button' %>
<% end %>
<button class="btn btn-danger exceptions">Exceptions</button></td>
<button class="btn btn-success">Confirmed</button></td>


            </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div id="jquery_enter"></div>
<script>
    $(function() { 
        $('.datepicker').datepicker();  
        $('.exceptions').on('click', function () {
            $('#order_c_ack').val("EXC");
            $('#submit-form-button').css("display", "block");
        });
        $('.confirmed').on('click', function () {
            $('#order_c_ack').val("OK");
            $('#submit-form-button').css("display", "block");
        });
         
        // $('.link_to_add_fields').on('click', '.field-remove', function(e) {
        //     e.preventDefault();
        //    remove_fields(this);  
        // });

         $('.link_to_add_fields').on('click', function(e) {
            e.preventDefault();
            var association = $(this).data("association");
            var content = $(this).data("content");
            var link = $(this);
            add_fields(link, association, content);


         });

        $('.field_remove').on('click', function(e) {  
            e.preventDefault();
            remove_fields(this); 
        });

        $('.order_line_items_amount').change(function() {
                SumAmount();
            });
    });
                                        
    //$('#order_customer_id').change(function(event){
    //                    $.get(
      // '/customer_details',
      // {id: $(event.target).val()},
      // function(response) {
      // });
                // });        

function remove_fields (link) {
    $(link).prev("input[type=hidden]").value = "1";
    $(link).closest(".fields").hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).closest('tr').before(content.replace(regexp, new_id));
  $('.field_remove').on('click', function(e) {  
            e.preventDefault();
            remove_fields(this); 
        });
}

function SumAmount () {
    var fields = (-1 + $('.order_line_items_amount').length);
    var sum = 0;
    var amount = 0;
        while (fields > -1) {
                        
                    amount = $("#order_line_items_attributes_" +fields+"_amount").val();
            if (typeof amount === "undefined" || amount === "") {
                amount = 0 
                }
                else
                {
                    sum = parseFloat(sum) + parseFloat(amount);
                }
                fields = parseInt(fields-1);    
            }
        $('#order_c_total').val(sum);
    }
                    
    </script>