<h3>Ship from WDS</h3>

<table>
    <th>Customer</th>
    <th>Ship Date</th>
    <th>Shipping Method</th>
    <th>Attachment</th>
    <th>Acknowledged</th>
    <% @orders.each do |order| %>
    <tr>
        <td><%= link_to order.customer.name, order %><br /></td>
        <td><%= order.c_ship.strftime("%m/%d/%Y") %></td>
        <td><%= order.c_via %></td>
        <td><%= link_to "Download", order.docs.url(:docs, false) %></td>
        <td><%= order.c_ack %></td>
        <% end %>
    </tr>
</table>