<div class="order-left">
    <span class="name"><%= link_to @order.c_name, customer_path(@order.customer.id) %><br /></span>
    ID: <%= @order.id %><br />
    Date: <%= @order.c_date.strftime("%m/%d/%Y") if @order.c_date %><br />
    Memo Field: <%= @order.c_memo %><br />
    Ship Date: <%= @order.c_ship.strftime("%m/%d/%Y") if @order.c_ship %><br />
    Acknowledged: <%= @order.c_ack %><br />
    <%= link_to "Download Attachment", @order.docs.url(:docs, false) %> |
    <%= link_to "Edit", edit_order_path %>
</div>
<div class="order-right">
    <u>Shipping Address</u><br />
    <span class="name"><%= @order.c_ship1 %><br /></span>
        <%= @order.c_ship2 %><br />
         <%= raw(@order.c_ship3 + '<br />') if @order.c_ship3 %>
        <%= raw(@order.c_ship4 + '<br />') if @order.c_ship4 %>
         <%= raw(@order.c_ship5 + '<br />') if @order.c_ship5 %>
        <%= @order.c_shipcity %>, <%= @order.c_shipstate %> <%= @order.c_shippostal %>
</div>

<div class="order-table">
    <table style="border:solid 1px black;">
        <th>ID</th><th>Product</th><th>QTY</th><th>Site</th><th>Amount</th>
        <% @order.line_items.each do |o| %>
        <tr><td><%= link_to o.item_id, item_path(o.item_id) %></td>
            <td><%= o.item.description %></td>
            <td><%= o.qty %></td>
            <td><%= o.site_name %></td>
            <td><%= number_to_currency(o.amount) %></td>
            </tr>
        <% end %>
        <tr><td style="padding-right:2%;" align="right" colspan="5"><b>Total: <%= number_to_currency(@order.c_total) %></b></td></tr>
    </table>
</div>