<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body width="600px">
	<div class="top">
	  	<%= image_tag("zing_logo.jpg", :alt => "zing logo", :width => "100px") %>
  </div>
	  
	<div class="ribbon" style="color:#732412">
		<h2 align="left">Shipping Confirmation</h2>
	</div>
  <div class="top"> 
      <p>
	    	Hi <%= @recipient.name %>,
      </p>
      We appreciate your business with Zing Bars. Your most recent order was shipped on <%= Time.now.strftime("%m/%d/%Y") %>. 
	    </p>
  	</div>
  <div class="ribbon" style="color:#732412">
    <h2 align="left">Shipping Details</h2>
  </div>  
    <div class="shipping-details">
	  	<p><b><font style="color:#D9D2C5">Shipping Location</font></b><br />
	  		<%= @recipient.ship1 %><br />
	  		<% if @recipient.ship2.present? %>
	  			<%= @recipient.ship2 %><br />
	  		<% end %>
	  		<% if @recipient.ship3.present? %>
	  			<%= @recipient.ship3 %><br />
	  		<% end %>
	  		<%= @recipient.shipcity %>, <%= @recipient.shipstate %> <%= @recipient.shippostal %>
	  	</p>

  		<p>
  		<% if @recipient.ship_method == "UPS" %>
  			Tracking Number: <a href="https://wwwapps.ups.com/tracking/tracking.cgi?tracknum=<%= @recipient.tracking %>"><%= @recipient.tracking %></a><br />
  		<% elsif @recipient.ship_method == "USPS" %>
  			Tracking Number: <a href="https://tools.usps.com/go/TrackConfirmAction.action?tLabels=<%= @recipient.tracking %>"><%= @recipient.tracking %></a><br />
  		<% else %>
  			Tracking Number: <a href="https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=<%= @recipient.tracking %>"><%= @recipient.tracking %></a><br />			
		<% end %>  			
  		Number Of Packages: <%= @recipient.packages %><br />
  		</p>
  		<p>
  		<% if !@recipient.memo.nil? %>
  			Order Notes: <%= @recipient.memo %>
  		<% end %>
  		</p>
  	</div>

  </body>
</html>