 <div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
			<h1>Item Detail</h1>
			<span class="code">Code: <%= @item.code %><br /></span>
			<span class="code">UPC: <%= @item.upc %><br /></span>
			Name: <%= @item.name %><br />
			Description: <%= @item.description %><br />
			Unit: <%= @item.unit %><br />

			<p><%= link_to "Edit", edit_item_path %></p>
		</div>
	</div>
</div>