<!DOCTYPE html>
<html>
<head>
  <title>Qbwc3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<% if @current_user.nil? %>
		<div id="sign-out-link" style="margin-right:2%;"><%= link_to "Sign In", signin_path %></div>
	<% else %>
	<div id="sign-out-link" style="margin-right:2%;"><%= @current_user.name %> | <%= link_to "Sign Out", logout_path, method: :delete %></div>
	<% end %>
</div>
    <div id="wrapper">
        <%= yield %>
    </div>
</body>
</html>
