<h1>Today's Shipments | <%= Date.today %></h1>
<p>
<%= image_tag("animal.gif", :style => "display:none", :id => "loader") %>
</p>
<%= link_to "Send Today's Selected Emails", email_send_path, :class => "button-me" %>

<p><h3><u>Emails That Need To Be Sent</u></h3></p>

<%= render "tracktable" %>


<p>&nbsp;</p>

<p><h3><u>Emails That Were Already Sent</u></h3></p>
	
<%= render "sentemail" %>
